/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fa;
}

/* Navbar */

.navbar{
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

/* Hero */

.hero{
    padding:90px 0;
}

.hero h1{
    font-size:45px;
    font-weight:bold;
    color:#222;
}

.hero p{
    font-size:18px;
    margin:20px 0;
    color:#555;
}

.hero img{
    max-width:100%;
}

/* Button */

.btn-primary{
    padding:12px 35px;
    font-size:18px;
    border-radius:30px;
}

/* Card */

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
    margin-top:20px;
}

.card:hover{
    transform:translateY(-10px);
}

.card-body{
    text-align:center;
    padding:35px;
}

.card h4{
    color:#0d6efd;
}

/* About */

#about{
    padding:60px 0;
}

/* Footer */

footer{
    margin-top:80px;
}
